{% extends 'basic.html' %}

{%block content%}
<div class="container d-flex justify-content-center">
  <div class="w-50  border rounded shadow p-3 rounded-3 bg-light" >Welcome to MEDICARE - Your Personal HEALTH MANAGER
    <br>Book your required Doctor or Manager as per your need and maintain your health. Your Health is our priority.
    If you are a Doctor or Manager, place your appointments and get connected to your patients.
    <br>
    It you are new to the website <a href="{% url 'loginPage'%}">Join Us</a>
  </div>
</div>

{%endblock content%}